*{
    margin: 0;
    padding: 0;
}
/* start nav menu */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.mary{
    margin-right: 770px;
}

nav>ul{
    list-style: none;
}
    

    nav ul>li{
        margin: 10px;
    }
.list{
    display: flex;
}
nav ul li>a{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;


}
/* end nev menu */


/* start banner section */
.btn{
    background-color: #f45100;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}
.mary{
    
    font-family:'Libre Baskerville', serif;
    font-weight: 800;
    font-size: 45px;

}

.benner-had{
    font-size: 45px;
    font-weight: 600;
}
.banner-had1{
    font-size: 85px;
    font-weight: 800;
}
span{
    color:#f45100; ;
}
header{
    background: var(--white-color, #f9e9e9);
    background-image: url(images/header_bg.png),url("images/developer.png");
    background-repeat: no-repeat;
    background-position:bottom right,top left;
  
}
.banners{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 80px 30px 0px 150px;  

}
.banner1{
    max-width: 500px;

}
.pic1{
    height: 667px;
    width: 584px;
  
}
/* end banner section */


/* start main section */
/* start about section */
.about{

    padding: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    margin: 130px 0px;
   

}
main{
    max-width: 70%;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.pera3{
    color:  #757575;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-info{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
.about-head{
    font-size: 35px;
    font-weight: 700;
}
/* about section end */


/* what section start */
.what-head{
   
    text-align: center;
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}
.pera4{
    color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;

}
.w-menu{

   
    width: 220px;
height: 300px;
flex-shrink: 0;
margin: 10px;
padding: 30px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06)
}
.what-h{
    font-size: 20px;
    line-height: 28px;
    
}

.what-menu{
    display: flex;
    background-color: white;

}

/* summary section start */
.hr{
    border: 1px solid rgb(42, 40, 40);
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.summary-container{
    display: flex;
    width: 100%;
    gap: 50px;
}
.summary-list{
    width: 50%;
}
.summary-head{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
margin-bottom: 100px;
}
.sum-head,.sum-heads{
    font-family: Open Sans;
font-size: 30px;
font-weight: 700;
}
.sum4{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-weight: 700;

}
.sum-head4{
color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-weight: 700;

}
.sum-p{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-top: 10px;
margin-bottom: 10px;

}


.btn1{
    background-color:#f45100;
    margin-top: 100px;
    text-align: center;
}
.ikon{
    margin: 20px;
}
.foot-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    background: #FFF8F3;
    padding: 60px;
}
#label{
    display: block;
    height: 50px;
    width: 350px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    border: 1px solid white;
    border-radius: 5px;
}
#messeges{
    border: 1px solid white;
    border-radius: 5px;
}
.submit{
    display: block;
    margin: 10px;
}
.let{
    color: var(--dark-01, #181818);

font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}
.cannect{
    margin-bottom: 300px;
    width: 50%;
}
footer{
    margin-top: 100px;
}
.messege{
    width: 50%;
}